spring:
  application:
    name: cryptovault
  
  profiles:
    active: prod

  servlet:
    multipart:
      enabled: true
      max-file-size: 50MB
      max-request-size: 50MB

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

server:
  port: 8080

logging:
  config: classpath:log4j2.xml

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

# Globals
cryptovault:
  scripts:
    path: ./src/main/resources/scripts/scripts
    python:
      executable: python
  reports:
    output:
      path: ./temp_reports

---
#H2
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true

logging:
  level:
    root: INFO
    com.cryptovault: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.web: INFO

cryptovault:
  storage:
    path: ./uploads/dev/encrypted
  scripts:
    path: ./src/main/resources/scripts/scripts
  reports:
    output:
      path: ./reports/dev

---
#PostgreSQL
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/cryptovault_db
    username: cryptovault_user
    password: wspa012026
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: true
    schemas: public
    default-schema: public

logging:
  level:
    root: INFO
    com.cryptovault: INFO
    org.springframework.web: ERROR
    org.hibernate.SQL: WARN

server:
  ssl:
    enabled: false

cryptovault:
  storage:
    path: ./uploads/prod/encrypted
  scripts:
    path: ./src/main/resources/scripts/scripts
  reports:
    output:
      path: ./reports/prod